<header>
  <div class="container">
      <nav class="btn-primary btn-block">
      <h1>Welcome to Simple user-auth-flow Angular App</h1>
      </nav>
      <nav class="nav navbar nav-primary">
          <ul class="list">

              <li>
                  <a href="/home" routerLink="/home" class="btn-outline-primary">Home</a>
              </li>
              <li>
                  <a href="/login" routerLink="/login" class="btn-outline-primary">Login</a>
              </li>
              <li>
                  <a href="/register" routerLink="/register" class="btn-outline-primary">Register</a>
              </li>
              <li>
                  <a href="/dashboard" routerLink="/dashboard" class="btn-outline-primary">Dashboard</a>
              </li>
              <li>
                  <a href="/createpost" routerLink="/createpost" class="btn-outline-primary">Create Post</a>
              </li>
          </ul>
      </nav>   
  </div> 
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
