
<div class="container" *ngIf = "login">
    <form [formGroup] = "myPost" (ngSubmit) = "onSubmit()">
        <label for="description">Description</label>
        <input type="text" id = "description" class="form-control" placeholder="Give a short description" formControlName = "description">
        <label for="content" aria-placeholder="write something good">Content</label>
        <textarea id="content" cols="30" rows="10" class="form-control" placeholder="Write something awesome" formControlName = "content"></textarea>
        <br>
        <button class="btn btn-outline-primary">Create Post</button>            
    </form>
</div>
<strong *ngIf="!login">You are not logged in. Kindly login to Create a posts</strong>