<div class="container">
    <form [formGroup] = "myRegistrationForm" (ngSubmit) = "onSubmit()" novalidate>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="name" id = "name" class="form-control" formControlName="name"  required>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['name'].value == '' && myRegistrationForm.controls['name'].touched">
                Name is Required
            </div>

            <label for="email">Email</label>
            <input type="email" id = "email" class="form-control" formControlName="email"  required email>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['email'].value == '' && myRegistrationForm.controls['email'].touched">
                Email is Required
            </div>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['email'].invalid && myRegistrationForm.controls['email'].value != ''">
                Email is not valid
            </div>

            <label for="gender">Gender</label>
            <select name="gender" id="gender" class="form-control" formControlName="gender"  required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Dont Prefered to tell</option>
            </select>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['gender'].invalid && myRegistrationForm.controls['gender'].touched">
                Select gender
            </div>

            <label for="contact">Contact</label>
            <input type="contact" class="form-control" formControlName="contact"  required minlength="10" maxlength="10" pattern="^[0-9]*$">
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['contact'].value == '' && myRegistrationForm.controls['contact'].touched">
                Contact is Required
            </div>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['contact'].value != '' && myRegistrationForm.controls['contact'].invalid">
                Contact is Invalid
            </div>

            <label for="password">Create Password</label>
            <input type="password" class="form-control" id="password" formControlName="password"  required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" (blur)="dontShow()" (focus) = "show()">
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['password'].value == '' && myRegistrationForm.controls['password'].touched">
                Password is Required
            </div>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['password'].invalid && myRegistrationForm.controls['password'].value != ''">
                Password should be of minimum length 8 <br>
                should contain one upper case one lower case <br>and one special character
            </div>
            <div class="alert alert-success" *ngIf = "myRegistrationForm.controls['password'].valid && showValidPassword">
                Password is valid
            </div>

            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" formControlName="confirm_password" required>
            <div class="alert alert-danger" *ngIf = "myRegistrationForm.controls['confirm_password'].touched && !(myRegistrationForm.controls['confirm_password'].value == myRegistrationForm.controls['password'].value)">
                Password and Confirm Password is'nt matching
            </div>

            <!-- <div class="form-check">
                <input type="checkbox" id="checkbox" class="form-check-input" formControlName="remember_token">
                <label for="checkbox" class="form-check-label">Remember Me</label>                
            </div> -->

            <div class="container">
                <button class="btn btn-outline-primary btn-block">Submit</button>        
            </div>            
        </div>
    </form>
</div>